.fosaaz {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: calc(100vh - 61px);
    background: rgb(250, 249, 246);
}